<div class="container">
  <div class="tabs hidden-xs">
    <% Game::MODES.each_with_index do |game_mode, i| %>
      <%= link_to leaderboard_index_path(game_mode: i + 1), class: "tab#{' active' if i == 0}", remote: true do %>
        <h3> <%= game_mode %> </h3>
      <% end %>
    <% end %>
  </div>

  <div class="wrapper-tabs-mobile visible-xs">
    <div class="tabs tabs-mobile">
      <% Game::MODES.first(3).each_with_index do |game_mode, i| %>
        <%= link_to leaderboard_index_path(game_mode: i + 1), class: "tab tab-mobile#{' active' if i == 0}", remote: true do %>
          <h3> <%= game_mode %> </h3>
        <% end %>
      <% end %>
    </div>

    <div class="tabs tabs-mobile">
      <% Game::MODES.last(3).each_with_index do |game_mode, i| %>
        <%= link_to leaderboard_index_path(game_mode: i + 1 + 3), class: "tab tab-mobile tab-under", remote: true do %>
          <h3> <%= game_mode %> </h3>
        <% end %>
      <% end %>
    </div>
  </div>


  <div class="wrapper-tab-content">
    <div class="tab-content">
      <div class="leaderboard">
        <div>
          <div class="leaderboard-row leaderboard-header-row">
            <div class="col-xs-1">
              
            </div>
            
            <div class="col-xs-8 col-sm-9">
              <p>User</p>
            </div>

            <div class="col-xs-3 col-sm-2 text-center">
              <p>Score</p>
            </div>
          </div>
        </div>
        <div>
          <% @games.each_with_index do |game, i| %>
            <div class="row leaderboard-row">
              <div class="col-xs-1">
                <p class="rank"> <%= i + 1 %> </p>
              </div>
              
              <div class="col-xs-8 col-sm-9">
                <div class="leaderboard-data"> <p> <%= game.user.email %> </p> </div>
              </div>

              <div class="col-xs-3 col-sm-2  text-center">
                <div class="leaderboard-data"><p> <%= game.score %> </p> </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
